.label{
    -fx-background-color: #ffffff;
    -fx-alignment: center;
    -fx-font-size: 10pt;
}

.grid{
    -fx-background-color: #f0f0f0;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.hbtop{
    -fx-min-height: 120;
    -fx-padding: 10;
    -fx-spacing: 100;
    -fx-alignment: center;
    -fx-background-color: #808080;
}

.hbbottom{
    -fx-min-height: 140;
    -fx-padding: 10;
    -fx-spacing: 100;
    -fx-alignment: center;
    -fx-background-color: #808080;
}